@import "../node_modules/@material/react-typography/dist/typography.css";
@import "../node_modules/@material/react-button/dist/button.css";
@import "../node_modules/@material/react-drawer/dist/drawer.css";
@import "../node_modules/@material/react-list/dist/list.css";
@import "../node_modules/@material/react-drawer/dist/drawer.css";
@import '../node_modules/@material/react-top-app-bar/dist/top-app-bar.css';
@import '../node_modules/@material/react-material-icon/dist/material-icon.css';
@import "../node_modules/@material/react-list/dist/list.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
