$drawerWidth: 170px;

.header-username {
  padding: 7px;
  word-wrap: break-word;
}

.text-center {
  text-align: center;
}

.login-card {
  margin: 20px;
  //max-width: 500px;
}

.App {
  display: flex;

  .bar {
    width: calc(100% - 170px);
    margin-left: $drawerWidth;
  }

  .drawer {
    text-align: center;
    width: $drawerWidth;
    flex-shrink: 0;
  }

  .paper {
    width: $drawerWidth
  }

  .content {
    flex-grow: 1;
    margin-right: 40px;
    margin-left: 40px;
  }
}

