$drawerWidth: 170px;

.text-center {
  text-align: center;
}

.App {
  text-align: center;
  display: flex;

  .bar {
    width: calc(100% - 170px);
    margin-left: $drawerWidth;
  }

  .drawer {
    width: $drawerWidth;
    flex-shrink: 0;
  }

  .paper {
    width: $drawerWidth
  }

  .content {
    flex-grow: 1;
  }
}

